*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    align-items: center;
    background-color: pink;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    color: #333;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

#clara{
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li{
    display: inline-block;
    font-size: 1.5rem;
    list-style-type:none ;
    padding: 1em;
    text-transform: uppercase;
}

li span{
    display: block;
    font-size: 4.5rem;

}

.emoji{
    display: none;
    padding: 1rem;
}

.emoji span{
    font-size: 4rem;
    padding: 0 .5rem;
}


